.container-parent{
    display:flex;
    justify-content: space-evenly;
    position:relative;
    top:-1rem;
}
body{
    background-color:lightgrey;
   
}
.side-menu{
     width:17%;
    background-color: white;
    padding:1rem;
    margin-top:0.5rem;
    margin-left: 0.5rem;
    height:78vh;
    border-radius: 0.5rem;
}
.type{
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5rem;
}
button{
    background-color:#B2FF66;
    border-radius:0.3rem;
    width:7vw;
    padding:0.5rem ;
    border:0 red
  
}
.highlight_year{
    background-color:#66CC00;
}
.highlight_launch{
    background-color:#66CC00;
}
.highlight_land{
    background-color:#66CC00;
}
button:hover{
    background-color:#66CC00;
}
table{
    margin-top: 0.5rem;
}
td{
    padding:0.4rem;
}
#main-content{
   
    width:80%;
    
}