.row div{
   float:left;
  
    position:relative;
    top:-1rem;
}
  /* * {
  box-sizing: border-box;
}    */
body{
    background-color:lightgrey;
   
}

.side-menu{
     width:17%;
    background-color: white;
    padding:1rem;
    margin-top:0.5rem;
    margin-left: 0.5rem;
    height:fix-content;
    border-radius: 0rem;
}
.data-card{
background-color:white;
width:21%;
height:fix-content;
padding:1rem;
margin-top:0.5rem;
border-radius:1rem;
}
#main-content{
   
    width:80%;
       margin-top:1rem;
    
}
.type{
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5rem;
}

td{
    text-align:center;
}
.responsive-img{
    background-color: lightgrey;
    width:98%;
    height:auto;
}

.table{
    width:90%
}
button{
    background-color:#b3d581;
    
    border-radius:0.3rem;
    width:80%;
    padding:0.5rem ;
    border:0 
  
}
.highlight_year{
    background-color:#76a136;
}
.highlight_launch{
    background-color:#76a136;
}
.highlight_land{
    background-color:#76a136;
}
button:hover{
    background-color:#76a136;
}
table{
    margin-top: 0.5rem;
}   
td{
    padding:0.4rem;
}

 /* For mobile phones: */
@media screen and (max-width: 700px) {
 
.side-menu{
    width:85%;
    margin-left: 0.8rem;
}
.data-card{
    width:100%;
   margin-right: 3%;
   margin-left:3%;
}
#main-content{
    width:100%;
    margin-top: 1.5rem;
}
p section{
    font-size:150%;
}
}
